services:
  - type: web
    name: chat-app
    env: node
    plan: free
    branch: main

    buildCommand: |
      npm install
      npm install --prefix backend
      npm install --prefix frontend
      npm run build

    startCommand: npm run start

    envVars:
      - key: NODE_ENV
        value: production
