name: CI

on:
  pull_request:
  push:
    branches: ["master"]

jobs:
  build-and-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install root dependencies
        run: npm install

      - name: Install backend dependencies
        run: npm install --prefix backend

      - name: Install frontend dependencies
        run: npm install --prefix frontend

      - name: Run lint
        run: npm run lint

      - name: Build frontend
        run: npm run build
